html {
  height: 100%;
  margin: 0; }
  html body {
    height: 100%;
    margin: 0; }
    html body div.wrapper {
      min-height: 100%;
      margin-bottom: -50px; }
      html body div.wrapper header .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ABA954;
        background: linear-gradient(to bottom right, #D0BDFF, #73688C);
        font-family: "Geo", sans-serif; }
        html body div.wrapper header .nav img.logo {
          margin: 1em 0 0em 0;
          height: 6em;
          width: 6em; }
        html body div.wrapper header .nav h1.name {
          color: #CCE2F5;
          font-family: "Geo", sans-serif;
          font-size: 4em;
          letter-spacing: 0.1rem;
          text-align: center;
          margin: 10px 0 20px 0; }
      html body div.wrapper main .login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 10%; }
        html body div.wrapper main .login form.login-form.container {
          display: flex;
          justify-content: center;
          margin: 20px 0; }
          html body div.wrapper main .login form.login-form.container div .row {
            display: flex;
            justify-content: center;
            flex-direction: column; }
            html body div.wrapper main .login form.login-form.container div .row .column {
              display: flex;
              flex-direction: column;
              align-items: center; }
              html body div.wrapper main .login form.login-form.container div .row .column .twelve.columns {
                width: 100%;
                float: left;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: baseline;
                color: #ABA954;
                font-family: Helvetica;
                font-size: 14px;
                font-weight: 600;
                line-height: 40px;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                margin: 1em; }
                html body div.wrapper main .login form.login-form.container div .row .column .twelve.columns label {
                  padding: 0 0.5em 0 0; }
                html body div.wrapper main .login form.login-form.container div .row .column .twelve.columns input[type="email"],
                html body div.wrapper main .login form.login-form.container div .row .column .twelve.columns input[type="password"],
                html body div.wrapper main .login form.login-form.container div .row .column .twelve.columns textarea {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  border: 1px solid #ddddbb;
                  border-radius: 4px;
                  height: 1em;
                  padding: .5em; }
          html body div.wrapper main .login form.login-form.container div div.mainButtons a.mainLink {
            text-decoration: none; }
            html body div.wrapper main .login form.login-form.container div div.mainButtons a.mainLink button.loginButton {
              color: #ABA954;
              background-color: #ffffff;
              display: inline-block;
              height: 38px;
              padding: 0 24px;
              text-align: center;
              font-family: Helvetica;
              font-size: 13px;
              font-weight: 600;
              line-height: 38px;
              letter-spacing: 0.1rem;
              text-transform: uppercase;
              text-decoration: none;
              white-space: nowrap;
              border-radius: 10px;
              border: 2px solid;
              border-color: #CCE2F5;
              cursor: pointer;
              box-sizing: border-box;
              margin: 1em; }
            html body div.wrapper main .login form.login-form.container div div.mainButtons a.mainLink button.loginButton:hover {
              color: #2066a2;
              border-color: #CCE2F5;
              background-color: #ddddbb;
              outline: 0; }
          html body div.wrapper main .login form.login-form.container div div.mainButtons button.register {
            color: #ABA954;
            background-color: #ffffff;
            display: inline-block;
            height: 38px;
            padding: 0 24px;
            text-align: center;
            font-family: Helvetica;
            font-size: 13px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            border-radius: 10px;
            border: 2px solid;
            border-color: #CCE2F5;
            cursor: pointer;
            box-sizing: border-box;
            margin: 1em; }
          html body div.wrapper main .login form.login-form.container div div.mainButtons button.register:hover {
            color: #2066a2;
            background-color: #ddddbb;
            border-color: #CCE2F5;
            outline: 0; }
    html body footer.footer {
      display: flex;
      justify-content: center;
      font-family: "Geo", sans-serif;
      font-size: 16px;
      letter-spacing: 0.1rem;
      color: #CCE2F5;
      background: linear-gradient(to bottom right, #D0BDFF, #73688C);
      height: 50px; }
  html body nav.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom right, #D0BDFF, #73688C);
    font-family: "Geo", sans-serif; }
    html body nav.nav img.logo {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: .75em 20px;
      height: 4em;
      width: 4em; }
    html body nav.nav div.userInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 10px 10px 20px;
      margin: .75em; }
      html body nav.nav div.userInfo div.usericon {
        color: white;
        height: 40px;
        width: 40px;
        font-size: 40px;
        text-shadow: 0px 5px 10px #5D5E5E; }
      html body nav.nav div.userInfo div.username-row h6 {
        display: flex;
        flex-direction: column;
        font-family: Helvetica;
        font-size: 12px;
        color: #CCE2F5;
        letter-spacing: 0.1rem;
        margin: 0 10px; }
        html body nav.nav div.userInfo div.username-row h6 a {
          text-decoration: none;
          letter-spacing: 0.1rem;
          margin-top: 10px;
          color: #CCE2F5; }
  html body div.appContainer {
    min-height: 90%;
    margin-bottom: -50px;
    /*map component*/ }
    html body div.appContainer .ng-isolate-scope {
      display: flex;
      justify-content: center;
      flex-direction: column;
      /*new chortle component*/ }
      html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 20px; }
        html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns {
          display: flex;
          justify-content: center;
          font-family: Helvetica;
          font-size: 12px/20px;
          color: #000000;
          font-weight: 600;
          letter-spacing: 0.1rem; }
          html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map {
            border: 14px solid #ABA954;
            border-radius: 10px; }
            html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map div.mapboxgl-popup-content {
              display: flex;
              flex-direction: column;
              justify-content: center;
              background-color: #CCE2F5;
              border: 2px solid #CCE2F5;
              border-radius: 10px; }
              html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map div.mapboxgl-popup-content button.mapboxgl-popup-close-button {
                font-family: "Geo", sans-serif;
                font-size: 30px;
                color: #ffffff;
                margin: 0px 6px 10px 10px; }
              html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map div.mapboxgl-popup-content a {
                display: flex;
                justify-content: center;
                margin-top: 8px; }
            html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map div.comments {
              font-family: Helvetica;
              font-size: 13px;
              font-weight: 400;
              text-transform: uppercase;
              letter-spacing: 0.1rem;
              color: #2066a2;
              margin: 0 1.2em;
              text-align: center; }
            html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map div.inputs {
              display: flex;
              flex-direction: column;
              align-items: center; }
              html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map div.inputs input.mapInput {
                padding: 0 24px;
                color: #ABA954;
                background-color: #ffffff;
                display: inline-block;
                height: 38px;
                text-align: center;
                font-family: "Geo", sans-serif;
                font-size: 13px;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                text-decoration: none;
                white-space: nowrap;
                border-radius: 10px;
                border: 2px solid;
                border-color: #CCE2F5;
                cursor: pointer;
                box-sizing: border-box;
                margin: 1em 0; }
              html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.twelve.columns #map div.inputs input.mapInput:hover {
                color: #2066a2;
                border-color: #CCE2F5;
                background-color: #ddddbb;
                outline: 0; }
        html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.addButton {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 30px;
          font-weight: bold; }
          html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.addButton button.addButton {
            display: flex;
            justify-content: center;
            color: #ABA954;
            background-color: #ffffff;
            display: inline-block;
            height: 38px;
            padding: 0 24px;
            text-align: center;
            font-family: Helvetica;
            font-size: 20px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            border-radius: 10px;
            border: 2px solid;
            border-color: #CCE2F5;
            cursor: pointer;
            box-sizing: border-box;
            margin: 1em; }
          html body div.appContainer .ng-isolate-scope map.ng-isolate-scope div.userMap div.addButton button.addButton:hover {
            color: #2066a2;
            border-color: #CCE2F5;
            background-color: #ddddbb;
            outline: 0; }
      html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Helvetica;
        margin-top: 6em;
        margin-bottom: 45px; }
        html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer form.newform {
          display: flex;
          flex-direction: column;
          background-color: #CCE2F5;
          border: 2px solid #CCE2F5;
          border-radius: 10px;
          align-items: center;
          text-align: center;
          padding: 25px;
          margin: 30px 10px 30px 10px; }
          html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer form.newform div.upload-file {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px 0; }
            html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer form.newform div.upload-file button {
              color: #ABA954;
              background-color: #ffffff;
              display: inline-block;
              height: 38px;
              padding: 0 30px;
              text-align: center;
              font-family: Helvetica;
              font-size: 20px;
              font-weight: 600;
              line-height: 38px;
              letter-spacing: 0.1rem;
              text-transform: uppercase;
              text-decoration: none;
              white-space: nowrap;
              border-radius: 10px;
              border: 2px solid;
              border-color: #ABA954;
              cursor: pointer;
              box-sizing: border-box;
              margin: 1em;
              position: sticky;
              z-index: 0; }
            html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer form.newform div.upload-file input#capture.input.chortle-form {
              display: flex;
              justify-content: center;
              position: absolute;
              z-index: 1;
              color: white;
              opacity: 0;
              cursor: pointer; }
          html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer form.newform input.chortle-form {
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 200px;
            height: 30px; }
          html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer form.newform input[type="text"],
          html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer form.newform textarea {
            text-align: center;
            border: 2px solid #ABA954;
            border-radius: 10px;
            padding: 6px 6px 6px 8px;
            margin-top: 30px; }
        html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer div.PEDbuttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          justify-content: space-around; }
          html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer div.PEDbuttons button {
            display: flex;
            justify-content: center;
            color: #ABA954;
            background-color: #ffffff;
            display: inline-block;
            height: 38px;
            padding: 0 24px;
            text-align: center;
            font-family: Helvetica;
            font-size: 20px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            border-radius: 10px;
            border: 2px solid;
            border-color: #CCE2F5;
            cursor: pointer;
            box-sizing: border-box; }
          html body div.appContainer .ng-isolate-scope .ng-isolate-scope div.newChortleContainer div.PEDbuttons button:hover {
            color: #2066a2;
            border-color: #CCE2F5;
            background-color: #ddddbb;
            outline: 0; }
  html body footer.footer {
    display: flex;
    justify-content: center;
    font-family: "Geo", sans-serif;
    color: #CCE2F5;
    background: linear-gradient(to bottom right, #D0BDFF, #73688C);
    height: 50px; }

/* Media Query */
@media (min-width: 310px) {
  #map {
    height: 450px;
    width: 300px; } }
@media (min-width: 400px) {
  #map {
    height: 375px;
    width: 375px; } }
@media (min-width: 600px) {
  #map {
    height: 475px;
    width: 575px; } }
@media (min-width: 800px) {
  #map {
    height: 500px;
    width: 750px; } }
@media (min-width: 1000px) {
  #map {
    height: 500px;
    width: 950px; } }

/*# sourceMappingURL=base.css.map */
