$mainFont: 'Geo', sans-serif;
// $mainFont: 'VT323', monospace;

$subFont: Helvetica;

$warmColor: #ABA954;
$lightenedWarm: lighten($warmColor, 30%);
$coolColor: #CCE2F5;
$darkenCool: darken($coolColor, 50%);
$secondaryCool: #88BDD1;
$coolGradient: linear-gradient(to bottom right,#D0BDFF, #73688C);

$iconSize: 20px;

$button-background-color: #ffffff;
$buttonDisplay: inline-block;
$buttonHeight: 38px;
$buttonPadding: 0 24px;
$button-text-align: center;
$button-font-size: 13px;
$button-font-weight: 600;
$button-line-height: 38px;
$button-letter-spacing: .1rem;
$button-text-transform: uppercase;
$button-text-decoration: none;
$button-white-space: nowrap;
$button-border-radius: 10px;
$buttonBorder: 2px solid;
$buttonCursor: pointer;
$button-box-sizing: border-box;
$buttonMargin: 1em;


html {
  height: 100%;
  margin: 0;
  body {
    height: 100%;
    margin: 0;
    div.wrapper{
      min-height: 100%;
      margin-bottom: -50px;
      header {
        .nav {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $warmColor;
          background: $coolGradient;
          // height: 14vh;
          font-family: $mainFont;
          img.logo {
              margin: 1em 0 0em 0;
              height: 6em;
              width: 6em;
            }
            h1.name {
              color: $coolColor;
              font-family: $mainFont;
              font-size: 4em;
              letter-spacing: $button-letter-spacing;
              text-align: center;
              margin: 10px 0 20px 0;
            }
        }
      }
      main {
        .login {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-top: 10%;
          form.login-form.container {
            display: flex;
            justify-content: center;
            margin: 20px 0;
            div {
              .row {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .column {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .twelve.columns {
                    width: 100%;
                    float: left;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    color: $warmColor;
                    font-family: $subFont;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 40px;
                    letter-spacing: $button-letter-spacing;
                    text-transform: uppercase;
                    margin: 1em;
                    label {
                      padding: 0 .5em 0 0 ;
                    }
                    input[type="email"],
                    input[type="password"],
                    textarea {
                      -webkit-appearance: none;
                         -moz-appearance: none;
                              appearance: none;
                              border: 1px solid $lightenedWarm;
                              border-radius: 4px;
                              height: 1em;
                              padding: .5em;
                    }
                  }
                }
              }
              div.mainButtons {
                a.mainLink {
                  text-decoration: none;
                  button.loginButton {
                    color: $warmColor;
                    background-color: $button-background-color;
                    display: $buttonDisplay;
                    height: $buttonHeight;
                    padding: $buttonPadding;
                    text-align: $button-text-align;
                    font-family: $subFont;
                    font-size: $button-font-size;
                    font-weight: $button-font-weight;
                    line-height: $button-line-height;
                    letter-spacing: $button-letter-spacing;
                    text-transform: $button-text-transform;
                    text-decoration: $button-text-decoration;
                    white-space: $button-white-space;
                    border-radius: $button-border-radius;
                    border: $buttonBorder;
                    border-color: $coolColor;
                    cursor: $buttonCursor;
                    box-sizing: $button-box-sizing;
                    margin: $buttonMargin;
                  }
                  button.loginButton:hover {
                    color: $darkenCool;
                    border-color: $coolColor;
                    background-color: $lightenedWarm;
                    outline: 0;
                  }
                }
                button.register {
                  color: $warmColor;
                  background-color: $button-background-color;
                  display: $buttonDisplay;
                  height: $buttonHeight;
                  padding: $buttonPadding;
                  text-align: $button-text-align;
                  font-family: $subFont;
                  font-size: $button-font-size;
                  font-weight: $button-font-weight;
                  line-height: $button-line-height;
                  letter-spacing: $button-letter-spacing;
                  text-transform: $button-text-transform;
                  text-decoration: $button-text-decoration;
                  white-space: $button-white-space;
                  border-radius: $button-border-radius;
                  border: $buttonBorder;
                  border-color: $coolColor;
                  cursor: $buttonCursor;
                  box-sizing: $button-box-sizing;
                  margin: $buttonMargin;
                }
                button.register:hover {
                  color: $darkenCool;
                  background-color: $lightenedWarm;
                  border-color: $coolColor;
                  outline: 0;
                }
              }
            }
          }
        }
      }
    }
    footer.footer {
      display: flex;
      justify-content: center;
      font-family: $mainFont;
      font-size: 16px;
      letter-spacing: $button-letter-spacing;
      color: $coolColor;
      background: $coolGradient;
      height: 50px;
    }
  }
  body {
    nav.nav {
      display: flex;
      flex-direction: row-reverse;
      justify-content:space-between;
      align-items: center;
      color: $warmColor;
      background: $coolGradient;
      // height: 14vh;
      font-family: $mainFont;
      img.logo {
        display: flex;
        align-items: center;
        padding: 10px ;
        margin: .75em 20px;
        height: 4em;
        width: 4em;
      }
      div.userInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 10px 10px 20px;
        margin: .75em;
        div.username-row {
          h6 {
            display: flex;
            flex-direction: column;
            font-family: $subFont;
            font-size: 12px;
            color: $coolColor;
            letter-spacing: $button-letter-spacing;
            margin: 0 10px;
            a {
              text-decoration: none;
              letter-spacing: $button-letter-spacing;
              margin-top: 10px;
            }
          }
        }
      }
    }
    div.appContainer {
      min-height: 90%;
      margin-bottom: -50px;
      /*map componet*/
      .ng-isolate-scope{
        display: flex;
        justify-content: center;
        flex-direction: column;
        map.ng-isolate-scope {
          div.userMap {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 20px;
            div.twelve.columns {
              display: flex;
              justify-content: center;
              // max-width: 400px;
              font-family: $subFont;
              font-size: 12px/20px;
              color: #000000;
              // background-color: $warmColor;
              // border: $buttonBorder $warmColor;
              // border-radius: $button-border-radius;
              font-weight: $button-font-weight;
              letter-spacing: $button-letter-spacing;
              #map{
                div.mapboxgl-popup-content {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  background-color: $coolColor;
                  border: $buttonBorder $coolColor;
                  border-radius: $button-border-radius;
                  button.mapboxgl-popup-close-button {
                    font-family: $mainFont;
                    font-size: 30px;
                    color: #ffffff;
                    margin: 0px 6px 10px 10px
                  }
                  a {
                    display: flex;
                    justify-content: center;
                    margin-top: 8px;
                  }
                }
                div.comments {
                  font-family: $subFont;
                  font-size: $button-font-size;
                  font-weight: 400;
                  text-transform: uppercase;
                  letter-spacing: $button-letter-spacing;
                  color: $darkenCool;
                  margin: 0 1.2em;
                  text-align: center;
                }
                div.inputs{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  input.mapInput {
                    padding: $buttonPadding;
                    color: $warmColor;
                    background-color: $button-background-color;
                    display: $buttonDisplay;
                    height: $buttonHeight;
                    text-align: $button-text-align;
                    font-family: $mainFont;
                    font-size: $button-font-size;
                    font-weight: $button-font-weight;
                    line-height: $button-line-height;
                    letter-spacing: $button-letter-spacing;
                    text-transform: $button-text-transform;
                    text-decoration: $button-text-decoration;
                    white-space: $button-white-space;
                    border-radius: $button-border-radius;
                    border: $buttonBorder;
                    border-color: $coolColor;
                    cursor: $buttonCursor;
                    box-sizing: $button-box-sizing;
                    margin: $buttonMargin 0;
                  }
                  input.mapInput:hover {
                    color: $darkenCool;
                    border-color: $coolColor;
                    background-color: $lightenedWarm;
                    outline: 0;
                  }
                }
              }
            }
            div.addButton {
              display: flex;
              justify-content: center;
              text-align: center;
              font-size: 30px;
              font-weight: bold;
              button.addButton {
                display: flex;
                justify-content: center;
                color: $warmColor;
                background-color: $button-background-color;
                display: $buttonDisplay;
                height: $buttonHeight;
                padding: $buttonPadding;
                text-align: $button-text-align;
                font-family: $subFont;
                font-size: $iconSize;
                font-weight: $button-font-weight;
                line-height: $button-line-height;
                letter-spacing: $button-letter-spacing;
                text-transform: $button-text-transform;
                text-decoration: $button-text-decoration;
                white-space: $button-white-space;
                border-radius: $button-border-radius;
                border: $buttonBorder;
                border-color: $coolColor;
                cursor: $buttonCursor;
                box-sizing: $button-box-sizing;
                margin: $buttonMargin;
              }
              button.addButton:hover {
                color: $darkenCool;
                border-color: $coolColor;
                background-color: $lightenedWarm;
                outline: 0;
              }
            }
          }
        }
        /*new chortle component*/
        .ng-isolate-scope{
          div.newChortleContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: $subFont;
            margin: 0;
            form.newform {
              display: flex;
              flex-direction: column;
              background-color: $coolColor;
              border: $buttonBorder $coolColor;
              border-radius: $button-border-radius;
              align-items: center;
              text-align: center;
              padding: 40px 10px;
              margin: 60px 10px 30px 10px;
              div.upload-file{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 20px 0;
                button {
                  color: $warmColor;
                  background-color: $button-background-color;
                  display: $buttonDisplay;
                  height: $buttonHeight;
                  padding: 0 30px;
                  text-align: $button-text-align;
                  font-family: $subFont;
                  font-size: $iconSize;
                  font-weight: $button-font-weight;
                  line-height: $button-line-height;
                  letter-spacing: $button-letter-spacing;
                  text-transform: $button-text-transform;
                  text-decoration: $button-text-decoration;
                  white-space: $button-white-space;
                  border-radius: $button-border-radius;
                  border: $buttonBorder;
                  border-color: $warmColor;
                  cursor: $buttonCursor;
                  box-sizing: $button-box-sizing;
                  margin: $buttonMargin;
                  position: sticky;
                  z-index: 0;
                }
                input#capture.input.chortle-form {
                  display: flex;
                  justify-content: center;
                  position: absolute;
                  z-index: 1;
                  color: white;
                  opacity: 0;
                  cursor: $buttonCursor;
                }
              }
              input.chortle-form {
                display: flex;
                justify-content: center;
                flex-direction: row;
                width: 180px;
                height: 30px;
                margin: 0 20px;
              }
              input[type="text"],
              textarea {
                text-align: center;
                border: $buttonBorder $warmColor;
                border-radius: $button-border-radius;
                padding: 6px 6px 6px 8px;
              }
            }
            div.PEDbuttons {
              display: flex;
              align-items: center;
              justify-content: space-between;
              justify-content: space-around;
              button {
                display: flex;
                justify-content: center;
                color: $warmColor;
                background-color: $button-background-color;
                display: $buttonDisplay;
                height: $buttonHeight;
                padding: $buttonPadding;
                text-align: $button-text-align;
                font-family: $subFont;
                font-size: $iconSize;
                font-weight: $button-font-weight;
                line-height: $button-line-height;
                letter-spacing: $button-letter-spacing;
                text-transform: $button-text-transform;
                text-decoration: $button-text-decoration;
                white-space: $button-white-space;
                border-radius: $button-border-radius;
                border: $buttonBorder;
                border-color: $coolColor;
                cursor: $buttonCursor;
                box-sizing: $button-box-sizing;
              }
              button:hover {
                color: $darkenCool;
                border-color: $coolColor;
                background-color: $lightenedWarm;
                outline: 0;
              }
            }
          }
        }
      }
    }
    footer.footer {
      display: flex;
      justify-content: center;
      font-family: $mainFont;
      color: $coolColor;
      background: $coolGradient;
      height: 50px;
    }
  }
}
  /* Media Query */

  @media (min-width: 310px) {
    #map {
      height: 450px;
      width: 300px;
    }
  }

  @media (min-width: 400px) {
    #map {
      height: 375px;
      width: 375px;
    }
  }

  @media (min-width: 600px) {
    #map {
      height: 475px;
      width: 575px;
    }
  }

  @media (min-width: 800px) {
    #map {
      height: 500px;
      width: 750px;
    }
  }

  @media (min-width: 1000px) {
    #map {
      height: 500px;
      width: 950px;
    }
  }
