<div class="newChortleContainer">
  <form class="newform" action="index.html" method="post">
    <div class="upload-file">
      <label for="file" class="chortle-form">Choose an image to upload</label>
      <button>upload picture</button>
      <input fileread="$ctrl.file" class="input chortle-form" id="capture" type="file" accept="image/*;capture=camera"/>
    </div>
    <label for="comment">Add Chortle Comment</label>
    <input ng-model="comment" type="text" class="chortle-form" name="" value=""/>
    <!-- <label for="file" class="chortle-form">Choose an image to upload</label>
    <input fileread="$ctrl.file" class="input chortle-form" id="capture" type="file" accept="image/*;capture=camera"> -->
  </form>
  <div class="PEDbuttons">
    <button type="button" name="button"
    ng-click="$ctrl.sendinfo($ctrl.newentries, comment, $ctrl.file, username, $ctrl.formview)"
    >Post</button>
  </div>
</div>
